<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../app.component.css" />
    <title>Welcome To The Developer Connector</title>
  </head>
  <body>
    <form class="form" [formGroup]="loginForm" novalidate>
    <nav class="navbar bg-dark">
      <h1>
        <a href="index.html"><i class="fas fa-luggage-cart"></i> Trade Buddy</a>
      </h1>
    </nav>
    <div class="container">
      <h1 class="large text-primary">Sign In</h1>
      <p class="lead"><i class="fas fa-user"></i> Sign into Your Account</p>
        <div class="form-group">
          <label for="custodianid" class="form-label mt-4"><b>Custodian Id</b></label>
          <input type="text"
           class="form-control"
           id="custodianid"
           name="custodianid"
           placeholder="Enter custodian id"
           formControlName="custodianid"
           autocomplete="off"
           [(ngModel)]="custodianProfile.custodianid"
           />
           <div *ngIf="!custodianid?.valid && custodianid?.dirty " class="text-danger mt-2">
              <div *ngIf="custodianid.errors?.maxlength">custodianid cannot be more than 10 characters</div>
             <div *ngIf="custodianid.errors?.minlength">Minimum characters for custodianid is 4</div>
             <div *ngIf="custodianid.errors?.required">custodianid is required</div>
             <div *ngIf="custodianid.errors?.pattern">custodianid should be alphanumeric only</div>
           </div>
        </div>
        <div class="form-group">
          <label for="custodianid" class="form-label mt-4"><b>Password</b></label>
          <input type="password"
           class="form-control"
           id="password"
           name="password"
           placeholder="Enter Password"
           formControlName="password"
           autocomplete="off"
           [(ngModel)]="custodianProfile.password"
           />
           <div *ngIf="!password?.valid && password?.dirty " class="text-danger mt-2">
            <div *ngIf="password.errors?.maxlength">Password cannot be more than 10 characters</div>
           <div *ngIf="password.errors?.minlength">Password should be miniumum of  4 characters</div>
           <div *ngIf="password.errors?.required">Password is required</div>
           <div *ngIf="password.errors?.pattern">Password should be alphanumberic with atleast one special character</div>
         </div>
         </div>
        <button (click)="handleLogin()" class="btn btn-primary"  >Login</button>
    </div>
  </form>
  </body>
</html>
